<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trackgenix S.A.</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/landing.css">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/aside.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
  <header>
    <h1>
      Trackgenix SA
    </h1>
  </header>
  <aside>
    <div class="icon-background">
    </div>
  </aside>
  <main>
    <section class="form-container"> 
      <div>
        <h4>Log In</h4>
      </div>
      <form action="getform.php" method="get">
        <div class="form-div-content">
          <label>E-mail:</label>
          <input type="Placeholder" placeholder="pedro_rodriguez@example">
        </div>
        <div class="form-div-content">
          <label>Password:</label>
          <input  list="area" name="myName">
        </div>
        <div class="sub-line-form">
          <label>Remember me</label>
          <label><a href="#">Forgot Password?</a></label>
        </div>
        <div id="buttons-div">
          <input type="submit" value="ACCEPT" class="button-send-message">
          <p>Or</p>
          <h5><a href="../views/sing-up.html">Sign Up!</a></h5>
        </div>
      </form>
    </section>
  </main>
</body>
</html>