<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trackgenix S.A.</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/landing.css">
		<link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/aside.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/sing-up.css">
    <script src="../javascript/sing-up.js"></script>
  </head>
  <body>
    <header>
      <h1>Trackgenix SA</h1>
    </header>
    <aside>
      <div class="icon-background"></div>
    </aside>
    <section class="form-container"> 
      <div>
        <h4>Sign Up</h4>
      </div>
      <form action="getform.php" method="get">
        <div class="form-div-content">
          <label>Name</label>
          <input type="text" placeholder="Pedro" id="firstName">
        </div>
        <div class="form-div-content">
          <label>Last Name:</label>
          <input type="text" placeholder="Rodriguez" id="lastName">
        </div>
        <div class="form-div-content">
          <label>DNI:</label>
          <input type="text" placeholder="12345678" id="dni">
        </div>
        <div class="form-div-content">
          <label>Date of Birth:</label>
          <input type="date" id="dateOfBirth" 
          min="1900-01-01" max="2019-04-25" required="required">
          <pre id="salida"></pre>
        </div>
        <div class="form-div-content">
          <label>Phone Number:</label>
          <input type="text" placeholder="1234567890" id="phone">
        </div>
        <div class="form-div-content">
          <label>Address:</label>
          <input type="text" placeholder="Pellegrinni 1234" id="address">
        </div>
        <div class="form-div-content">
          <label>Location:</label>
          <input type="text" placeholder="Rosario" id="city">
        </div>
        <div class="form-div-content">
          <label>Postal Code:</label>
          <input type="text" placeholder="2000" id="pc">
        </div>
        <div class="form-div-content">
          <label>E-mail:</label>
          <input type="text" placeholder="pedro_rodriguez@example" id="email">
        </div>
        <div class="form-div-content">
          <label>Password:</label>
          <input type="password" name="myPassword" id="password">
        </div>
        <div class="form-div-content">
          <label>Repeat Password:</label>
          <input type="password" name="myPassword" id="reCheckPassword">
        </div>
        <div id="buttons-div">
          <input type="button" onclick="validationForm()" value="ACCEPT" class="button-send-message">
        </div>
      </form>
    </section>
  </body>
</html>
