body{
  font-family: "Roboto", sans-serif;
}
h1{
  color: #373867;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: left;
  margin-left: 20%;
  margin-top: 30px;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

h2{
  color: #373867;
  font-size: 100px;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  margin-bottom: 20px;
}
h3{
  color: #46A37C;
}
h4{
  color: #373867;
  text-align: left;
  font-size: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
}
h5{
  font-size: 25px;
  text-align: left;
}

h6{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10%;

}
blockquote{
  color: #B4AFAF;
  margin-right: auto;
  font-size: 23px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
p{
  color: #373867;
}
a{
  color: black; 
  text-decoration: none;
}
div{
  width: 50%;
  height: 50%;
}

article{
  display: inline-block;
  width: 40%;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 0 #999
}
section{
  padding: 5% 0 5% 20%;
  border-bottom: 1px solid black;

}
/*Header*/
header{
  margin-bottom: 35px;
}

.title{
  display: inline-block;
  width: 100%;
  height: 121px;
  background-color: #46A37C;
  margin-left: 195px;
  margin-top: auto;
}

/*Sidebar*/
.sidebar{
  position: fixed;
  width: 15%;
  height: 100%;
  margin-top: -35px;
  background: #373867;
  font-size: 25px;
  text-align: left;
}
.icon-background-color{
  background-color: #C4C4C4;
  height: 20%;
  width: 100%;
  margin-top: -122px;
}
.icon-background-color a{
  margin-left: 25%;
}
aside li{
  margin-left: 35%;
  margin-top: 25px;
}
aside a{
  color: white;
}
/*Primera Seccion: Descripcion de pagina*/

.img-notebook{
  position: relative;
  display: block;
  margin-left: auto;
  bottom: 360px;
  width: 30%;
}
.p-in-block{
  display: block;
  margin-right: auto;
  width: 35%;
  font-size: 25px;
  line-height: 35px;
}

/*Segunda Seccion: Descripcion en cuadrados*/
.section-description article {
  display: inline-block;
  width: 35%;
  margin: 50px;
}
.section-description div{
  justify-content: center;
  padding-left: 20%;
}
.section-description h3 {
  margin: 10px;
}
.section-description p{
  margin: 10px;
}
/*Tercera Seccion: Triangulos con info*/

.info-section div{
  display: inline-block;
  padding-left: 15%;
  width: 30%;

}
.info-section img{
  max-height: 20%;
  max-width: 20%;
  object-fit: contain;
}
.info-section h4{
  display: inline-block;
  width: 30%;
}
.info-section p{
  display: inline-block;
  width: 30%;
}
/*Cuarta Seccion: Formulario*/
.form{
  padding-left: 30%;
}
.names label{
  padding-right: 35%;
}
.form div{
  margin-bottom: 15px;
}

/*Quinta Seccion: "Quienes somos"*/
.who-we-are-section {
  width: 70%;
  padding: 5% 0 5% 5%;
}
.who-we-are-section div{
  margin-left: auto;
  margin-right: auto;
}
.who-we-are-section h4{
  font-size: 30px;
  padding-left: -145px;
}
.who-we-are-section p{
  margin-left: -145px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
  font-size: 20px;
}
/*Sexta seccion: About us*/
.list-ul{
  list-style-type:circle;
}

.list-ol{
  list-style-type:decimal;
}
/*Footer*/
footer{
  padding: 2% 0 0 0;
}
.footer div{
  display: inline-block;
  width: 50px;  
  margin-left: 35%;
  margin-right: -30%;
}
.div-descriptive-1{
  width: 250px;
  height: 200px;
  position: relative;
  background-color: antiquewhite;
}
.div-descriptive-2{
  width: 250px;
  height: 200px;
  position: relative;
  left: 300px;
  bottom: 440px;
  background-color: beige;
}
.menu{
  background-color: #373867;
}
.button-send-message{
  background-color: #AACE9B;
}

.lower-article{
  display: inline-block;
  width: 33%;
  box-shadow: none;
}