h1{
  color: #373867;
  background-color: #46A37C;
  /*font: Roboto;*/
  margin-right: auto;
}
h2{
  color: #373867;
  font-size: 50px;
  width: 60%;
}
h3{
  color: #46A37C;
}
h4{
  color: #373867;
}
h5{
  font-size: 25px;
  text-align: center;
}
blockquote{
  color: #B4AFAF;
  margin-right: auto;
  width: 30%;
}
h6{
  text-align: center;
  font-size: 15px;
}

p{
  color: #373867;
}
.img-notebook{
  position: relative;
  display: block;
  margin-left: auto;
  bottom: 210px;
  width: 30%;
}
.p-in-block{
  display: block;
  margin-right: auto;
  width: 50%;
}
/*.first-section{
  content: "";
  clear: both;
  display: table;
  background-color: yellowgreen;
}*/
div{
  width: 50%;
  height: 50%;
}
.footer-div{

  display: inline-block;
  width: 20px;  
  margin-left: 35%;
  margin-right: -30%;
}
.div-descriptive-1{
  width: 250px;
  height: 200px;
  position: relative;
  background-color: antiquewhite;
}
.div-descriptive-2{
  width: 250px;
  height: 200px;
  position: relative;
  left: 300px;
  bottom: 440px;
  background-color: beige;
}
.menu{
  background-color: #373867;
}
.button-send-message{
  background-color: #AACE9B;
}
.icon-background-color{
  background-color: #AACE9B;
}
article{
  display: inline-block;
  width: 40%;
  border-radius: 30px;
  box-shadow: 5px 5px 10px 0 #999
}
.section-description > article {
  display: inline-block;
  width: 35%;
  margin: 50px;
}
.section-description > article > div{
  justify-content: center;
  padding-left: 20%;
}
.lower-article{
  display: inline-block;
  width: 33%;
  box-shadow: none;
}
/*.sidebar{
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #373867;
  font-size: 0.65em;
}
.nav{
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}*/

