main{
  padding: 0px 30px;
}
@media (max-width: 820px) {
  aside {
    display: none;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 30px;
  }
  footer{
    background-color: #373867;
  }
  footer a{
    display: none;
  }
  header{
    display: flex;
  }

}
@media (min-width: 820px) {
  .hmbr-container{
    display: none;
  } 
  aside{
    margin-right: 20%;
  }
  section{
    margin-left: 15%;
    width: 80%;
  }
  footer{
    margin-left: 2%;
  }
  .first-section{
    margin-left: 15%;
 }
}
/*Primera seccion"*/

.first-section{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.h2-div{
  width: 80%;
}

.p-in-block{
  margin-right: auto;
  width: 400px;
}
.p-in-block p{
  font-size: 25px;
  line-height: 35px;
}
.img-notebook{
  max-width: 100%;
}
.img-notebook img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  
}

/*Segunda Seccion: Descripcion en cuadrados*/
.section-description{
  display: flex;
  flex-wrap: wrap;
}

.section-description article{
  flex:auto;
  flex-basis: 30%;
  margin: 10% 45px;
}

.section-description div{
  justify-content: center;
  padding-left: 20%;
}
.section-description h3{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
.section-description p{
  text-align: center;
  margin: 5px;
}
/*Tercera Seccion: Triangulos con info*/
.info-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-section-pair{
  display:flex;
  flex-wrap:wrap;
  flex-basis:40%;
  margin: 10px 0;
}

.info-section-odd{
  display:flex;
  flex-basis:40%;
  flex-direction: row-reverse;

}
.info-section img{
  display: flex;
  max-height: 20%;
  max-width: 20%;
  object-fit: contain;
}
.info-section h4{
  text-align: center;
  margin:5% 0;
  width: 40%;
  min-width: 245px;
}

/*Cuarta Seccion: Formulario*/
h4{
  text-align: center;
}
form{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
}
.form-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  flex-basis: 10px;
}

.first-name-div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 49%;
  margin-right: 20px;

}
.last-name-div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 49%;
}
.first-name-div label{
  padding-right: 35%;
}

.form-container div{
  width: auto;
  margin-bottom: 15px;
}

.form-div-content{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

#buttons-div{
  display: flex;
  flex-basis: 100%;
}

#buttons-div input{
  margin: 10px;
}

.button-send-message{
  background-color: #AACE9B;
}
/*Quinta Seccion: "Quienes somos"*/
.who-we-are-section {
  width: 90%;
  margin: 5% 0 5% 5%;
}
.who-we-are-section div{
  margin-left: auto;
  margin-right: auto;
}
.who-we-are-section h4{
  font-size: 30px;
  text-align: center;
}
.who-we-are-section p{
  margin-bottom: 30px;
  text-align: center;
  font-size: 15px;
}
/*Sexta seccion: About us*/
.lower-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.lower-section article{
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 210px;
  margin: 10px 10px;
  box-shadow: none;
}
.list-ul{
  list-style-type:circle;
}
.list-ol{
  list-style-type:decimal;
}

